h1 {
	text-align: center;
	font-size: 40px;
}
main {
	margin: 10px;
}

.border {
	border: black 2px solid;
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.column {
	flex-flow: column nowrap;
}

.width-100 {
	width: 100%;
}

.m-10 {
	margin: 10px;
}

.p-10 {
	padding: 10px;
}

.around {
	justify-content: space-around;
}

.username {
	color: rgb(0, 102, 255);
}

#nav {
	justify-content: flex-end;
	ul {
		list-style: none;
	}

	li {
		margin: 5px;
		font-size: 20px;

		&:hover {
			color: purple;
		}
	}
	a {
		text-decoration: none;
		color: black;
	}
}
.center-all {
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.button-size {
	width: 200px;
}

#board {
	height: 600px;
	width: 600px;
}

.row {
	width: 100%;
	height: 25%;
}

.box {
	width: 25%;
	font-size: 36px;
}

.box:hover {
	background-color: aquamarine;
}

#score {
	font-size: 24px;
	margin-left: 300px;
}

.selected {
	background-color: plum;

	&:hover {
		background-color: plum;
	}
}

#played-list,
#rooms {
	width: 300px;
	padding: 15px;
}
