$main-background: #3185fc;
$main-light: #f4f5f5;
$select: #ff6445;
$highlight: rgb(255, 230, 89);
$block: #fff1d0;
$rooms: #a7cecb;
$shadow: 3px 3px 5px black;

html {
	background-image: radial-gradient(
		circle,
		#5217b2,
		#4925b7,
		#3e30bb,
		#3338be,
		#2540c1,
		#214cc8,
		#1e57cf,
		#1f62d5,
		#3074e1,
		#4186eb,
		#5498f5,
		#67aaff
	);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: $main-light;
	height: 100vh;
	font-size: 20px;
}

main {
	margin: 10px;
	justify-content: space-between;
}

h1 {
	text-align: center;
	font-size: 40px;
	margin-right: 50px;
}

h3 {
	margin: 0;
}

nav {
	justify-content: flex-end;
	margin-bottom: 100px;
	ul {
		list-style: none;
	}

	li {
		margin: 5px;
		font-size: 20px;
		color: $main-light;

		&:hover {
			color: $select;
		}
	}
	a {
		text-decoration: none;
	}
}

p {
	margin: 5px;
}

a {
	color: $main-light;
	text-decoration: none;
	&:hover {
		color: $select;
	}
}

button {
	border-radius: 5px;
	box-shadow: $shadow;
	border: none;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	&:hover {
		cursor: pointer;
		background-color: $highlight;
	}
}

input {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
}

form {
	display: flex;
	flex-flow: column nowrap;
	width: 300px;
	padding: 20px;
}

//------------UTILITY CLASSES----------//
.around {
	justify-content: space-around;
}

.between {
	justify-content: space-between;
}

.bg-light {
	background-color: $main-light;
}

.border {
	border: black 1px solid;
}

.button-size {
	width: 200px;
}

.center {
	justify-content: center;
}

.center-all {
	justify-content: center;
	align-items: center;
}

.column {
	flex-flow: column nowrap;
}

.flex {
	display: flex;
}

.m-10 {
	margin: 10px;
}

.p-10 {
	padding: 10px;
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.width-100 {
	width: 100%;
}

//--------------------------------//

#block-container {
	background-color: $main-light;
	padding: 30px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px black;
}

#board {
	margin-right: 50px;
	margin-left: 50px;
}

#logo {
	height: 50px;
	width: 50px;
}

#played-list {
	width: max-content;
}

#played-words {
	width: max-content;
	margin-top: 20px;
}

#rooms {
	align-items: center;
}

#score {
	font-size: 24px;
	margin: 20px;
	color: $main-light;
	align-self: center;
}

#validate {
	background-color: $select;
	color: $main-light;
	box-shadow: $shadow;
	&:hover {
		background-color: rgb(0, 128, 87);
	}
}

.row {
	width: 100%;
	height: 25%;
}

.box {
	color: black;
	width: 90px;
	height: 90px;
	font-size: 36px;
	margin: 5px;
	background-color: $block;
	border-radius: 20px;
	box-shadow: $shadow;

	&:hover {
		background-color: $highlight;
	}
}

.username {
	color: $highlight;
}

.selected {
	background-color: $select;
	box-shadow: inset 0 0 10px black;
	color: $main-light;

	&:hover {
		background-color: $select;
		box-shadow: inset 0 0 10px black;
	}
}

.room-content {
	flex-wrap: nowrap;
}

.played-box-container {
	display: flex;
	flex-flow: row nowrap;
}
.played-box {
	display: flex;
	background-color: $block;
	border-radius: 3px;
	margin: 3px;
	padding: 5px;
	color: black;
	width: 30px;
	height: 30px;
	box-shadow: $shadow;
}

//MEDIA QUERY - SMALL SCREENS//

@media screen and (max-width: 1024px) {
	main {
		flex-flow: column;
	}
	#play-area {
		flex-flow: column-reverse;
		align-items: center;
	}
	#room-button-container {
		flex-flow: row nowrap;
	}
	#played-list {
		margin-left: 0px;
		align-self: center;
	}

	html {
		background-repeat: repeat;
	}

	nav {
		margin-bottom: 25px;
		ul {
			width: 100%;
			justify-content: space-between;
			padding-left: 0px;
		}
	}

	.box {
		height: 75px;
		width: 75px;
		font-size: 24px;
	}
}
