$main-background: #3185fc;
$main-light: #f4f5f5;
$select: #ff6445;
$highlight: rgb(255, 230, 89);
$block: #fff1d0;
$rooms: #a7cecb;
$shadow: 3px 3px 5px black;
$green: #32ec70;
$box-size: 75px;

html {
	background: radial-gradient(
			circle,
			#5217b2,
			#4925b7,
			#3e30bb,
			#3338be,
			#2540c1,
			#214cc8,
			#1e57cf,
			#1f62d5,
			#3074e1,
			#4186eb,
			#5498f5,
			#67aaff
		)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: $main-light;
	font-size: 20px;
}

main {
	margin: 10px;
	justify-content: space-between;
}

h1 {
	text-align: center;
	font-size: 60px;
}

h3 {
	margin: 0;
}

nav {
	justify-content: flex-end;
	ul {
		list-style: none;
	}

	li {
		margin: 5px;
		font-size: 20px;
		color: $main-light;

		&:hover {
			color: $select;
		}
	}
	a {
		text-decoration: none;
	}
}

p {
	margin: 5px;
}

a {
	color: $main-light;
	text-decoration: none;
	&:hover {
		color: $select;
	}
}

a,
button {
	transition: 0.3s;
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}

button {
	border-radius: 5px;
	box-shadow: $shadow;
	border: none;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	&:hover {
		background-color: $highlight;
	}
}

input {
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
}

form {
	display: flex;
	flex-flow: column nowrap;
	width: 300px;
	padding: 20px;
}

//WIGGLE ANIMATION FOR BLOCKS

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(1px, 1px) rotate(1deg);
	}
	90% {
		transform: translate(3px, 3px) rotate(0deg);
	}
	100% {
		transform: translate(1px, 3px) rotate(-1deg);
	}
}

//------------UTILITY CLASSES----------//
.around {
	justify-content: space-around;
}

.between {
	justify-content: space-between;
}

.bg-light {
	background-color: $main-light;
}

.border {
	border: black 1px solid;
}

.button-size {
	width: 200px;
}

.center {
	justify-content: center;
}

.center-all {
	justify-content: center;
	align-items: center;
}

.column {
	flex-flow: column nowrap;
}

.flex {
	display: flex;
}

.green {
	background-color: $green;
}

.m-10 {
	margin: 10px;
}

.p-10 {
	padding: 10px;
}

.pointer {
	&:hover {
		cursor: pointer;
	}
}

.width-100 {
	width: 100%;
}

//--------------------------------//
#main-header {
	margin-right: 125px;
}

#alert-wrapper {
	height: 53px;
}

#block-container {
	background: hsla(22, 100%, 71%, 1);
	width: 460px;
	height: 400px;
	background: radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);

	background: -moz-radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);

	background: -webkit-radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);

	padding: 30px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px black;
}

#board {
	margin-right: 50px;
	margin-left: 50px;
}

#logo {
	height: 50px;
	width: 50px;
}

#play-area {
	align-items: flex-start;
}

#rooms {
	align-items: center;
}

#score {
	font-size: 24px;
	margin: 20px;
	color: $main-light;
	align-self: center;
}

#timed-wrapper {
	padding: 20px;
	border-radius: 20px;
	width: min-content;
	margin: auto;
	box-shadow: inset 0 0 10px black;
	margin-bottom: 30px;
	background-color: #3074e1;
	transition: 0.5s;
	&.timed {
		opacity: 1;
		background: hsla(22, 100%, 71%, 1);
		background: radial-gradient(
			circle,
			hsla(22, 100%, 71%, 1) 0%,
			hsla(2, 78%, 62%, 1) 100%
		);

		background: -moz-radial-gradient(
			circle,
			hsla(22, 100%, 71%, 1) 0%,
			hsla(2, 78%, 62%, 1) 100%
		);

		background: -webkit-radial-gradient(
			circle,
			hsla(22, 100%, 71%, 1) 0%,
			hsla(2, 78%, 62%, 1) 100%
		);
		transition: 0.5s;
	}
}

#validate {
	background-color: $select;
	color: $main-light;
	box-shadow: $shadow;
	&:hover {
		background-color: $green;
	}
}

.auth-wrapper {
	width: min-content;
	align-self: center;
	border-radius: 20px;
	box-shadow: shadow;
	padding-bottom: 25px;
	margin-top: 100px;
	background: hsla(22, 100%, 71%, 1);
	background: radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);

	background: -moz-radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);

	background: -webkit-radial-gradient(
		circle,
		hsla(22, 100%, 71%, 1) 0%,
		hsla(2, 78%, 62%, 1) 100%
	);
	a:hover {
		color: $highlight;
	}
}

.row {
	width: 100%;
	height: 25%;
}

.username {
	color: $highlight;
}

.room-content {
	flex-wrap: nowrap;
}

.played-box-container {
	display: flex;
	flex-flow: row nowrap;
}
.played-box {
	display: flex;
	background-color: $block;
	border-radius: 3px;
	margin: 3px;
	padding: 5px;
	color: black;
	width: 30px;
	height: 30px;
	box-shadow: $shadow;
}

//MEDIA QUERY - SMALL SCREENS//

@media screen and (max-width: 1024px) {
	main {
		flex-flow: column;
	}
	#play-area {
		flex-flow: column-reverse;
		align-items: center;
	}
	#room-button-container {
		flex-flow: row nowrap;
	}
	#played-list {
		margin-left: 0px;
		align-self: center;
	}

	html {
		background-repeat: repeat;
	}

	nav {
		margin-bottom: 25px;
		ul {
			width: 100%;
			justify-content: space-between;
			padding-left: 0px;
		}
	}
}

* {
	box-sizing: border-box;
}

.scene,
.cube,
.cube__face {
	width: $box-size;
	height: $box-size;
}

.scene {
	margin: 5px;
	perspective: 150px;
}

.cube {
	animation: rotateX(-90deg) translateZ(-$box-size / 2) scale(-1, 1);
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-$box-size / 2);
	transition: transform 1s;

	p {
		font: bold 36px arial, sans-serif;
		background-color: rgb(130 78 16 / 99%);
		color: transparent;
		text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		transition: 0.2s;
	}
	&:hover {
		p {
			text-shadow: none;
		}
	}
}

.selected {
	transform: translateZ(-$box-size / 2) rotateY(180deg);
}

.cube__face {
	position: absolute;
	font-size: 36px;
	// background-image: url('data/img/wood.avif');
	background-color: $block;
	background-size: cover;
	border-radius: 15px;
	font-weight: bold;
	text-align: center;
	border: 4px solid #c5b5910f;
	transition: 0.5s;
	transition-timing-function: ease-in;
}

.selected > * {
	transition: 0.5s;
	background-color: $highlight;
	background-image: none;
	p {
		text-shadow: none;
	}
}

.timed {
}

.untimed {
	background-color: #3074e1;
	transition: 0.3s;
}

.cube__face--front {
	transform: rotateY(0deg) translateZ(-$box-size / 2) scale(-1, 1);
}
.cube__face--right {
	transform: rotateY(90deg) translateZ(-$box-size / 2) scale(-1, 1);
}
.cube__face--back {
	transform: rotateY(180deg) translateZ(-$box-size / 2) scale(-1, 1);
}
.cube__face--left {
	transform: rotateY(-90deg) translateZ(-$box-size / 2) scale(-1, 1);
}
.cube__face--top {
	transform: rotateX(90deg) translateZ(-$box-size / 2) scale(-1, 1);
}
.cube__face--bottom {
	transform: rotateX(-90deg) translateZ(-$box-size / 2) scale(-1, 1);
}
